.modal-container-game {
    overflow: scroll;
    width: 60vw;
    position: fixed;
    top: 0vh;
    left: 12vw;
    width: 100%;
    
    justify-content: center;
    align-items: center;
    
    
    background-color: #1c1b1b;
    color: white;
    z-index: 10;
}