.card-btm-text-style {
    color: white;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 10%;
    margin: 2%;
    height: 7%;
}

.card-title:hover {
    color: aqua;
}

.card-job:hover {
    --b: 5px;
    --s: .45em;
    --color: #373844;
    background: 
        conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0)
        var(--s) var(--s)/calc(100% - var(--b) - 2*var(--s)) calc(100% - var(--b) - 2*var(--s));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;

    border: 0;
    user-select: none;
    touch-action: manipulation;
}

.card-job {
    padding: 1.5em;
    background-color: #27282e;
    --s: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.card-job:active {
    background: var(--color);
}

