.cc {
    height: 100%;
    width: 100%;
    background: conic-gradient(
        #dc57af 90deg,
        #a80f75 90deg 180deg,
        #dc57af 180deg 270deg,
        #a80f75 270deg,
    );
    background-repeat: repeat;
    background-size: 60px 60px;
    background-position: top left;
}

.containerStyle {
    background-color: #1b1c1c;
    position: sticky;
    top: 0;
    z-index: 10;
}

.icons {
    width: 60px;
    height: 60px;
    background-color: #dc57af;
    margin: 5px;
}

.icons:hover {
    background-color: #10e7e7fe;
}

.nameAndTitle {
    color: #c0fe04;
}

