.cc {
    height: 100%;
    width: 100%;
    background: conic-gradient(
        #dc57af 90deg,
        #a80f75 90deg 180deg,
        #dc57af 180deg 270deg,
        #a80f75 270deg,
    );
    background-repeat: repeat;
    background-size: 60px 60px;
    background-position: top left;
}

.containerStyle {
    background-color: #1c1b1b;
    position: sticky;
    top: 0;
    z-index: 10;
}

.icons {
    width: 60px;
    height: 60px;
    background-color: #dc57af;
    margin: 5px;
}

.nameAndTitle {
    color: #c0fe04;
}

/*.cc {
  background-color: #fff;
  background-image: linear-gradient(45deg, #ccc 25%, transparent 25%),
                    linear-gradient(-45deg, #ccc 25%, transparent 25%),
                    linear-gradient(45deg, transparent 75%, #ccc 75%),
                    linear-gradient(-45deg, transparent 75%, #ccc 75%);
  background-size: 100px 100px;
  background-position: 0 0, 0 50px, 50px -50px, -50px 0px;
}*/

