.custom-cursor {
    --b: 3px;
    --c: rgb(29, 219, 29);
    --w: 8px;
    position: fixed;

    width: 30px;
    height: 30px;

    border: var(--b) solid #0000;
    --_g: #0000 90deg, var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    background:
        conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
        conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p),
        conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p),
        conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
    
    pointer-events: none;
    transform: translate3d(0, 0, 0);
    transition: transform 0.1s ease-out;
    z-index: 9999;
}