#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #1c1b1b;
  color: whitesmoke;
}

body {
  background-color: #1c1b1b;
}

.card {
  padding: 1em;
  background-color: #2d2d2d;
  color: whitesmoke;
  cursor: url(/src/assets/CursorV1.png);
}
